target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

/_mac/
/codestyles/
/Jmerkletree/
/keymaps/
/templates/
/gitosc_settings.xml
/editor.codeinsight.xml
/ignore.xml
/debugger.renderers.xml
/baseRefactoring.xml
/lombok.xml
/customization.xml
/dbnavigator.xml
/remote-servers.xml
/vcs.xml
/find.xml
/KeyPromoterXStatistic.xml
/colors.scheme.xml
/markdown.xml
/databaseSettings.xml
/editor.xml
/projectView.xml
/templates.xml
/ide.general.xml
/usageView.xml
/power.mode.ii.xml
/plugin_ui.xml
/github_settings.xml
/studioSettings.xml
/databaseDrivers.xml
/filetypes.xml
/debugger.xml
/ui.lnf.xml
