<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.footprint.common.dao.DUcBusinessSystemMapper">
  <resultMap id="BaseResultMap" type="com.footprint.common.model.DUcBusinessSystem">
    <constructor>
      <idArg column="ID" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="VERID" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="ICON_URL" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="BANNER_URL" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="THEME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="BASEPATH" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SYS_STATUS" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="SYS_TYPE" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="SYS_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="SYS_TITLE" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="SYS_DESC" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="SYS_ORDER" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="CREATETIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="CREATEUSER" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="UPDATETIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="UPDATEUSER" javaType="java.lang.String" jdbcType="CHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, VERID, ICON_URL, BANNER_URL, THEME, BASEPATH, SYS_STATUS, SYS_TYPE, SYS_NAME, 
    SYS_TITLE, SYS_DESC, SYS_ORDER, CREATETIME, CREATEUSER, UPDATETIME, UPDATEUSER
  </sql>
  <select id="selectByExample" parameterType="com.footprint.common.model.DUcBusinessSystemExample" resultMap="BaseResultMap">
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from D_UC_BUSINESS_SYSTEM
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from D_UC_BUSINESS_SYSTEM
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from D_UC_BUSINESS_SYSTEM
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.footprint.common.model.DUcBusinessSystemExample">
    delete from D_UC_BUSINESS_SYSTEM
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.footprint.common.model.DUcBusinessSystem">
    insert into D_UC_BUSINESS_SYSTEM (ID, VERID, ICON_URL, BANNER_URL, 
      THEME, BASEPATH, SYS_STATUS, 
      SYS_TYPE, SYS_NAME, SYS_TITLE, 
      SYS_DESC, SYS_ORDER, CREATETIME, 
      CREATEUSER, UPDATETIME, UPDATEUSER)
    values (#{id,jdbcType=CHAR}, 0, #{iconUrl,jdbcType=VARCHAR}, #{bannerUrl,jdbcType=VARCHAR}, 
      #{theme,jdbcType=VARCHAR}, #{basepath,jdbcType=VARCHAR}, #{sysStatus,jdbcType=DECIMAL}, 
      #{sysType,jdbcType=DECIMAL}, #{sysName,jdbcType=NVARCHAR}, #{sysTitle,jdbcType=NVARCHAR}, 
      #{sysDesc,jdbcType=NVARCHAR}, #{sysOrder,jdbcType=DECIMAL}, CURRENT_TIMESTAMP, 
      #{createuser,jdbcType=CHAR}, CURRENT_TIMESTAMP, #{updateuser,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.footprint.common.model.DUcBusinessSystem">
    insert into D_UC_BUSINESS_SYSTEM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="verid != null">
        VERID,
      </if>
      <if test="iconUrl != null">
        ICON_URL,
      </if>
      <if test="bannerUrl != null">
        BANNER_URL,
      </if>
      <if test="theme != null">
        THEME,
      </if>
      <if test="basepath != null">
        BASEPATH,
      </if>
      <if test="sysStatus != null">
        SYS_STATUS,
      </if>
      <if test="sysType != null">
        SYS_TYPE,
      </if>
      <if test="sysName != null">
        SYS_NAME,
      </if>
      <if test="sysTitle != null">
        SYS_TITLE,
      </if>
      <if test="sysDesc != null">
        SYS_DESC,
      </if>
      <if test="sysOrder != null">
        SYS_ORDER,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="createuser != null">
        CREATEUSER,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
      <if test="updateuser != null">
        UPDATEUSER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="verid != null">
        #{verid,jdbcType=DECIMAL},
      </if>
      <if test="iconUrl != null">
        #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="bannerUrl != null">
        #{bannerUrl,jdbcType=VARCHAR},
      </if>
      <if test="theme != null">
        #{theme,jdbcType=VARCHAR},
      </if>
      <if test="basepath != null">
        #{basepath,jdbcType=VARCHAR},
      </if>
      <if test="sysStatus != null">
        #{sysStatus,jdbcType=DECIMAL},
      </if>
      <if test="sysType != null">
        #{sysType,jdbcType=DECIMAL},
      </if>
      <if test="sysName != null">
        #{sysName,jdbcType=NVARCHAR},
      </if>
      <if test="sysTitle != null">
        #{sysTitle,jdbcType=NVARCHAR},
      </if>
      <if test="sysDesc != null">
        #{sysDesc,jdbcType=NVARCHAR},
      </if>
      <if test="sysOrder != null">
        #{sysOrder,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null">
        #{createuser,jdbcType=CHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null">
        #{updateuser,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.footprint.common.model.DUcBusinessSystemExample" resultType="java.lang.Long">
    select count(*) from D_UC_BUSINESS_SYSTEM
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update D_UC_BUSINESS_SYSTEM
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=CHAR},
      </if>
      <if test=" 0 == 0">
        VERID = NVL(VERID , 0) + 1,
      </if>
      <if test="record.iconUrl != null">
        ICON_URL = #{record.iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.bannerUrl != null">
        BANNER_URL = #{record.bannerUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.theme != null">
        THEME = #{record.theme,jdbcType=VARCHAR},
      </if>
      <if test="record.basepath != null">
        BASEPATH = #{record.basepath,jdbcType=VARCHAR},
      </if>
      <if test="record.sysStatus != null">
        SYS_STATUS = #{record.sysStatus,jdbcType=DECIMAL},
      </if>
      <if test="record.sysType != null">
        SYS_TYPE = #{record.sysType,jdbcType=DECIMAL},
      </if>
      <if test="record.sysName != null">
        SYS_NAME = #{record.sysName,jdbcType=NVARCHAR},
      </if>
      <if test="record.sysTitle != null">
        SYS_TITLE = #{record.sysTitle,jdbcType=NVARCHAR},
      </if>
      <if test="record.sysDesc != null">
        SYS_DESC = #{record.sysDesc,jdbcType=NVARCHAR},
      </if>
      <if test="record.sysOrder != null">
        SYS_ORDER = #{record.sysOrder,jdbcType=DECIMAL},
      </if>
      <if test="record.createtime != null">
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createuser != null">
        CREATEUSER = #{record.createuser,jdbcType=CHAR},
      </if>
      <if test=" 0 == 0">
        UPDATETIME = CURRENT_TIMESTAMP,
      </if>
      <if test="record.updateuser != null">
        UPDATEUSER = #{record.updateuser,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update D_UC_BUSINESS_SYSTEM
    set ID = #{record.id,jdbcType=CHAR},
    VERID = NVL(VERID , 0) + 1,
      ICON_URL = #{record.iconUrl,jdbcType=VARCHAR},
      BANNER_URL = #{record.bannerUrl,jdbcType=VARCHAR},
      THEME = #{record.theme,jdbcType=VARCHAR},
      BASEPATH = #{record.basepath,jdbcType=VARCHAR},
      SYS_STATUS = #{record.sysStatus,jdbcType=DECIMAL},
      SYS_TYPE = #{record.sysType,jdbcType=DECIMAL},
      SYS_NAME = #{record.sysName,jdbcType=NVARCHAR},
      SYS_TITLE = #{record.sysTitle,jdbcType=NVARCHAR},
      SYS_DESC = #{record.sysDesc,jdbcType=NVARCHAR},
      SYS_ORDER = #{record.sysOrder,jdbcType=DECIMAL},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      CREATEUSER = #{record.createuser,jdbcType=CHAR},
    UPDATETIME = CURRENT_TIMESTAMP,
      UPDATEUSER = #{record.updateuser,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.footprint.common.model.DUcBusinessSystem">
    update D_UC_BUSINESS_SYSTEM
    <set>
      <if test=" 0 == 0">
        VERID = NVL(VERID , 0) + 1,
      </if>
      <if test="iconUrl != null">
        ICON_URL = #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="bannerUrl != null">
        BANNER_URL = #{bannerUrl,jdbcType=VARCHAR},
      </if>
      <if test="theme != null">
        THEME = #{theme,jdbcType=VARCHAR},
      </if>
      <if test="basepath != null">
        BASEPATH = #{basepath,jdbcType=VARCHAR},
      </if>
      <if test="sysStatus != null">
        SYS_STATUS = #{sysStatus,jdbcType=DECIMAL},
      </if>
      <if test="sysType != null">
        SYS_TYPE = #{sysType,jdbcType=DECIMAL},
      </if>
      <if test="sysName != null">
        SYS_NAME = #{sysName,jdbcType=NVARCHAR},
      </if>
      <if test="sysTitle != null">
        SYS_TITLE = #{sysTitle,jdbcType=NVARCHAR},
      </if>
      <if test="sysDesc != null">
        SYS_DESC = #{sysDesc,jdbcType=NVARCHAR},
      </if>
      <if test="sysOrder != null">
        SYS_ORDER = #{sysOrder,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null">
        CREATEUSER = #{createuser,jdbcType=CHAR},
      </if>
      <if test=" 0 == 0">
        UPDATETIME = CURRENT_TIMESTAMP,
      </if>
      <if test="updateuser != null">
        UPDATEUSER = #{updateuser,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.footprint.common.model.DUcBusinessSystem">
    update D_UC_BUSINESS_SYSTEM
    set VERID = NVL(VERID , 0) + 1
      ,ICON_URL = #{iconUrl,jdbcType=VARCHAR}
      ,BANNER_URL = #{bannerUrl,jdbcType=VARCHAR}
      ,THEME = #{theme,jdbcType=VARCHAR}
      ,BASEPATH = #{basepath,jdbcType=VARCHAR}
      ,SYS_STATUS = #{sysStatus,jdbcType=DECIMAL}
      ,SYS_TYPE = #{sysType,jdbcType=DECIMAL}
      ,SYS_NAME = #{sysName,jdbcType=NVARCHAR}
      ,SYS_TITLE = #{sysTitle,jdbcType=NVARCHAR}
      ,SYS_DESC = #{sysDesc,jdbcType=NVARCHAR}
      ,SYS_ORDER = #{sysOrder,jdbcType=DECIMAL}
      ,UPDATETIME = CURRENT_TIMESTAMP
      ,UPDATEUSER = #{updateuser,jdbcType=CHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
  <cache />
  <sql id="OracleDialectPrefix">
    <if test="page != null">
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix">
    <if test="page != null">
      <![CDATA[ ) row_  where rownum <= #{page.end} ) where rownum_ > #{page.begin}  ]]>
    </if>
  </sql>
</mapper>