<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.footprint.common.dao.DUcDealerAuditInfoMapper">
  <resultMap id="BaseResultMap" type="com.footprint.common.model.DUcDealerAuditInfo">
    <constructor>
      <idArg column="ID" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="VERID" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="AUDIT_ID" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="DEALER_ID" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="FIRM_TYPE_OLD" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="FIRM_TYPE" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="ACCOUNT_PAYMENT_TYPE_OLD" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="ACCOUNT_PAYMENT_TYPE" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="ENTP_TYPE_OLD" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="ENTP_TYPE" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="MARKET_AGR_OLD" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="MARKET_AGR" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="FIRM_CODE_OLD" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="FIRM_CODE" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="FIRM_SHORT_NAME_OLD" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="FIRM_SHORT_NAME" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="JOIN_DATE_OLD" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="JOIN_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="VAT_INVOICE_ENTP_TYPE_OLD" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="VAT_INVOICE_ENTP_TYPE" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="QUAL_FEE_URL_OLD" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="QUAL_FEE_URL" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CUSTOM_REGION_OLD" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="CUSTOM_REGION" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="CREATETIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="CREATEUSER" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="UPDATETIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="UPDATEUSER" javaType="java.lang.String" jdbcType="CHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, VERID, AUDIT_ID, DEALER_ID, FIRM_TYPE_OLD, FIRM_TYPE, ACCOUNT_PAYMENT_TYPE_OLD, 
    ACCOUNT_PAYMENT_TYPE, ENTP_TYPE_OLD, ENTP_TYPE, MARKET_AGR_OLD, MARKET_AGR, FIRM_CODE_OLD, 
    FIRM_CODE, FIRM_SHORT_NAME_OLD, FIRM_SHORT_NAME, JOIN_DATE_OLD, JOIN_DATE, VAT_INVOICE_ENTP_TYPE_OLD, 
    VAT_INVOICE_ENTP_TYPE, QUAL_FEE_URL_OLD, QUAL_FEE_URL, CUSTOM_REGION_OLD, CUSTOM_REGION, 
    CREATETIME, CREATEUSER, UPDATETIME, UPDATEUSER
  </sql>
  <select id="selectByExample" parameterType="com.footprint.common.model.DUcDealerAuditInfoExample" resultMap="BaseResultMap">
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from D_UC_DEALER_AUDIT_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from D_UC_DEALER_AUDIT_INFO
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from D_UC_DEALER_AUDIT_INFO
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.footprint.common.model.DUcDealerAuditInfoExample">
    delete from D_UC_DEALER_AUDIT_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.footprint.common.model.DUcDealerAuditInfo">
    insert into D_UC_DEALER_AUDIT_INFO (ID, VERID, AUDIT_ID, DEALER_ID, 
      FIRM_TYPE_OLD, FIRM_TYPE, ACCOUNT_PAYMENT_TYPE_OLD, 
      ACCOUNT_PAYMENT_TYPE, ENTP_TYPE_OLD, ENTP_TYPE, 
      MARKET_AGR_OLD, MARKET_AGR, FIRM_CODE_OLD, 
      FIRM_CODE, FIRM_SHORT_NAME_OLD, FIRM_SHORT_NAME, 
      JOIN_DATE_OLD, JOIN_DATE, VAT_INVOICE_ENTP_TYPE_OLD, 
      VAT_INVOICE_ENTP_TYPE, QUAL_FEE_URL_OLD, QUAL_FEE_URL, 
      CUSTOM_REGION_OLD, CUSTOM_REGION, CREATETIME, 
      CREATEUSER, UPDATETIME, UPDATEUSER)
    values (#{id,jdbcType=CHAR}, 0, #{auditId,jdbcType=CHAR}, #{dealerId,jdbcType=CHAR}, 
      #{firmTypeOld,jdbcType=DECIMAL}, #{firmType,jdbcType=DECIMAL}, #{accountPaymentTypeOld,jdbcType=DECIMAL}, 
      #{accountPaymentType,jdbcType=DECIMAL}, #{entpTypeOld,jdbcType=DECIMAL}, #{entpType,jdbcType=DECIMAL}, 
      #{marketAgrOld,jdbcType=DECIMAL}, #{marketAgr,jdbcType=DECIMAL}, #{firmCodeOld,jdbcType=CHAR}, 
      #{firmCode,jdbcType=CHAR}, #{firmShortNameOld,jdbcType=DECIMAL}, #{firmShortName,jdbcType=DECIMAL}, 
      #{joinDateOld,jdbcType=TIMESTAMP}, #{joinDate,jdbcType=TIMESTAMP}, #{vatInvoiceEntpTypeOld,jdbcType=DECIMAL}, 
      #{vatInvoiceEntpType,jdbcType=DECIMAL}, #{qualFeeUrlOld,jdbcType=VARCHAR}, #{qualFeeUrl,jdbcType=VARCHAR}, 
      #{customRegionOld,jdbcType=DECIMAL}, #{customRegion,jdbcType=DECIMAL}, CURRENT_TIMESTAMP, 
      #{createuser,jdbcType=CHAR}, CURRENT_TIMESTAMP, #{updateuser,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.footprint.common.model.DUcDealerAuditInfo">
    insert into D_UC_DEALER_AUDIT_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="verid != null">
        VERID,
      </if>
      <if test="auditId != null">
        AUDIT_ID,
      </if>
      <if test="dealerId != null">
        DEALER_ID,
      </if>
      <if test="firmTypeOld != null">
        FIRM_TYPE_OLD,
      </if>
      <if test="firmType != null">
        FIRM_TYPE,
      </if>
      <if test="accountPaymentTypeOld != null">
        ACCOUNT_PAYMENT_TYPE_OLD,
      </if>
      <if test="accountPaymentType != null">
        ACCOUNT_PAYMENT_TYPE,
      </if>
      <if test="entpTypeOld != null">
        ENTP_TYPE_OLD,
      </if>
      <if test="entpType != null">
        ENTP_TYPE,
      </if>
      <if test="marketAgrOld != null">
        MARKET_AGR_OLD,
      </if>
      <if test="marketAgr != null">
        MARKET_AGR,
      </if>
      <if test="firmCodeOld != null">
        FIRM_CODE_OLD,
      </if>
      <if test="firmCode != null">
        FIRM_CODE,
      </if>
      <if test="firmShortNameOld != null">
        FIRM_SHORT_NAME_OLD,
      </if>
      <if test="firmShortName != null">
        FIRM_SHORT_NAME,
      </if>
      <if test="joinDateOld != null">
        JOIN_DATE_OLD,
      </if>
      <if test="joinDate != null">
        JOIN_DATE,
      </if>
      <if test="vatInvoiceEntpTypeOld != null">
        VAT_INVOICE_ENTP_TYPE_OLD,
      </if>
      <if test="vatInvoiceEntpType != null">
        VAT_INVOICE_ENTP_TYPE,
      </if>
      <if test="qualFeeUrlOld != null">
        QUAL_FEE_URL_OLD,
      </if>
      <if test="qualFeeUrl != null">
        QUAL_FEE_URL,
      </if>
      <if test="customRegionOld != null">
        CUSTOM_REGION_OLD,
      </if>
      <if test="customRegion != null">
        CUSTOM_REGION,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="createuser != null">
        CREATEUSER,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
      <if test="updateuser != null">
        UPDATEUSER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="verid != null">
        #{verid,jdbcType=DECIMAL},
      </if>
      <if test="auditId != null">
        #{auditId,jdbcType=CHAR},
      </if>
      <if test="dealerId != null">
        #{dealerId,jdbcType=CHAR},
      </if>
      <if test="firmTypeOld != null">
        #{firmTypeOld,jdbcType=DECIMAL},
      </if>
      <if test="firmType != null">
        #{firmType,jdbcType=DECIMAL},
      </if>
      <if test="accountPaymentTypeOld != null">
        #{accountPaymentTypeOld,jdbcType=DECIMAL},
      </if>
      <if test="accountPaymentType != null">
        #{accountPaymentType,jdbcType=DECIMAL},
      </if>
      <if test="entpTypeOld != null">
        #{entpTypeOld,jdbcType=DECIMAL},
      </if>
      <if test="entpType != null">
        #{entpType,jdbcType=DECIMAL},
      </if>
      <if test="marketAgrOld != null">
        #{marketAgrOld,jdbcType=DECIMAL},
      </if>
      <if test="marketAgr != null">
        #{marketAgr,jdbcType=DECIMAL},
      </if>
      <if test="firmCodeOld != null">
        #{firmCodeOld,jdbcType=CHAR},
      </if>
      <if test="firmCode != null">
        #{firmCode,jdbcType=CHAR},
      </if>
      <if test="firmShortNameOld != null">
        #{firmShortNameOld,jdbcType=DECIMAL},
      </if>
      <if test="firmShortName != null">
        #{firmShortName,jdbcType=DECIMAL},
      </if>
      <if test="joinDateOld != null">
        #{joinDateOld,jdbcType=TIMESTAMP},
      </if>
      <if test="joinDate != null">
        #{joinDate,jdbcType=TIMESTAMP},
      </if>
      <if test="vatInvoiceEntpTypeOld != null">
        #{vatInvoiceEntpTypeOld,jdbcType=DECIMAL},
      </if>
      <if test="vatInvoiceEntpType != null">
        #{vatInvoiceEntpType,jdbcType=DECIMAL},
      </if>
      <if test="qualFeeUrlOld != null">
        #{qualFeeUrlOld,jdbcType=VARCHAR},
      </if>
      <if test="qualFeeUrl != null">
        #{qualFeeUrl,jdbcType=VARCHAR},
      </if>
      <if test="customRegionOld != null">
        #{customRegionOld,jdbcType=DECIMAL},
      </if>
      <if test="customRegion != null">
        #{customRegion,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null">
        #{createuser,jdbcType=CHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null">
        #{updateuser,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.footprint.common.model.DUcDealerAuditInfoExample" resultType="java.lang.Long">
    select count(*) from D_UC_DEALER_AUDIT_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update D_UC_DEALER_AUDIT_INFO
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=CHAR},
      </if>
      <if test=" 0 == 0">
        VERID = NVL(VERID , 0) + 1,
      </if>
      <if test="record.auditId != null">
        AUDIT_ID = #{record.auditId,jdbcType=CHAR},
      </if>
      <if test="record.dealerId != null">
        DEALER_ID = #{record.dealerId,jdbcType=CHAR},
      </if>
      <if test="record.firmTypeOld != null">
        FIRM_TYPE_OLD = #{record.firmTypeOld,jdbcType=DECIMAL},
      </if>
      <if test="record.firmType != null">
        FIRM_TYPE = #{record.firmType,jdbcType=DECIMAL},
      </if>
      <if test="record.accountPaymentTypeOld != null">
        ACCOUNT_PAYMENT_TYPE_OLD = #{record.accountPaymentTypeOld,jdbcType=DECIMAL},
      </if>
      <if test="record.accountPaymentType != null">
        ACCOUNT_PAYMENT_TYPE = #{record.accountPaymentType,jdbcType=DECIMAL},
      </if>
      <if test="record.entpTypeOld != null">
        ENTP_TYPE_OLD = #{record.entpTypeOld,jdbcType=DECIMAL},
      </if>
      <if test="record.entpType != null">
        ENTP_TYPE = #{record.entpType,jdbcType=DECIMAL},
      </if>
      <if test="record.marketAgrOld != null">
        MARKET_AGR_OLD = #{record.marketAgrOld,jdbcType=DECIMAL},
      </if>
      <if test="record.marketAgr != null">
        MARKET_AGR = #{record.marketAgr,jdbcType=DECIMAL},
      </if>
      <if test="record.firmCodeOld != null">
        FIRM_CODE_OLD = #{record.firmCodeOld,jdbcType=CHAR},
      </if>
      <if test="record.firmCode != null">
        FIRM_CODE = #{record.firmCode,jdbcType=CHAR},
      </if>
      <if test="record.firmShortNameOld != null">
        FIRM_SHORT_NAME_OLD = #{record.firmShortNameOld,jdbcType=DECIMAL},
      </if>
      <if test="record.firmShortName != null">
        FIRM_SHORT_NAME = #{record.firmShortName,jdbcType=DECIMAL},
      </if>
      <if test="record.joinDateOld != null">
        JOIN_DATE_OLD = #{record.joinDateOld,jdbcType=TIMESTAMP},
      </if>
      <if test="record.joinDate != null">
        JOIN_DATE = #{record.joinDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.vatInvoiceEntpTypeOld != null">
        VAT_INVOICE_ENTP_TYPE_OLD = #{record.vatInvoiceEntpTypeOld,jdbcType=DECIMAL},
      </if>
      <if test="record.vatInvoiceEntpType != null">
        VAT_INVOICE_ENTP_TYPE = #{record.vatInvoiceEntpType,jdbcType=DECIMAL},
      </if>
      <if test="record.qualFeeUrlOld != null">
        QUAL_FEE_URL_OLD = #{record.qualFeeUrlOld,jdbcType=VARCHAR},
      </if>
      <if test="record.qualFeeUrl != null">
        QUAL_FEE_URL = #{record.qualFeeUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.customRegionOld != null">
        CUSTOM_REGION_OLD = #{record.customRegionOld,jdbcType=DECIMAL},
      </if>
      <if test="record.customRegion != null">
        CUSTOM_REGION = #{record.customRegion,jdbcType=DECIMAL},
      </if>
      <if test="record.createtime != null">
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createuser != null">
        CREATEUSER = #{record.createuser,jdbcType=CHAR},
      </if>
      <if test=" 0 == 0">
        UPDATETIME = CURRENT_TIMESTAMP,
      </if>
      <if test="record.updateuser != null">
        UPDATEUSER = #{record.updateuser,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update D_UC_DEALER_AUDIT_INFO
    set ID = #{record.id,jdbcType=CHAR},
    VERID = NVL(VERID , 0) + 1,
      AUDIT_ID = #{record.auditId,jdbcType=CHAR},
      DEALER_ID = #{record.dealerId,jdbcType=CHAR},
      FIRM_TYPE_OLD = #{record.firmTypeOld,jdbcType=DECIMAL},
      FIRM_TYPE = #{record.firmType,jdbcType=DECIMAL},
      ACCOUNT_PAYMENT_TYPE_OLD = #{record.accountPaymentTypeOld,jdbcType=DECIMAL},
      ACCOUNT_PAYMENT_TYPE = #{record.accountPaymentType,jdbcType=DECIMAL},
      ENTP_TYPE_OLD = #{record.entpTypeOld,jdbcType=DECIMAL},
      ENTP_TYPE = #{record.entpType,jdbcType=DECIMAL},
      MARKET_AGR_OLD = #{record.marketAgrOld,jdbcType=DECIMAL},
      MARKET_AGR = #{record.marketAgr,jdbcType=DECIMAL},
      FIRM_CODE_OLD = #{record.firmCodeOld,jdbcType=CHAR},
      FIRM_CODE = #{record.firmCode,jdbcType=CHAR},
      FIRM_SHORT_NAME_OLD = #{record.firmShortNameOld,jdbcType=DECIMAL},
      FIRM_SHORT_NAME = #{record.firmShortName,jdbcType=DECIMAL},
      JOIN_DATE_OLD = #{record.joinDateOld,jdbcType=TIMESTAMP},
      JOIN_DATE = #{record.joinDate,jdbcType=TIMESTAMP},
      VAT_INVOICE_ENTP_TYPE_OLD = #{record.vatInvoiceEntpTypeOld,jdbcType=DECIMAL},
      VAT_INVOICE_ENTP_TYPE = #{record.vatInvoiceEntpType,jdbcType=DECIMAL},
      QUAL_FEE_URL_OLD = #{record.qualFeeUrlOld,jdbcType=VARCHAR},
      QUAL_FEE_URL = #{record.qualFeeUrl,jdbcType=VARCHAR},
      CUSTOM_REGION_OLD = #{record.customRegionOld,jdbcType=DECIMAL},
      CUSTOM_REGION = #{record.customRegion,jdbcType=DECIMAL},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      CREATEUSER = #{record.createuser,jdbcType=CHAR},
    UPDATETIME = CURRENT_TIMESTAMP,
      UPDATEUSER = #{record.updateuser,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.footprint.common.model.DUcDealerAuditInfo">
    update D_UC_DEALER_AUDIT_INFO
    <set>
      <if test=" 0 == 0">
        VERID = NVL(VERID , 0) + 1,
      </if>
      <if test="auditId != null">
        AUDIT_ID = #{auditId,jdbcType=CHAR},
      </if>
      <if test="dealerId != null">
        DEALER_ID = #{dealerId,jdbcType=CHAR},
      </if>
      <if test="firmTypeOld != null">
        FIRM_TYPE_OLD = #{firmTypeOld,jdbcType=DECIMAL},
      </if>
      <if test="firmType != null">
        FIRM_TYPE = #{firmType,jdbcType=DECIMAL},
      </if>
      <if test="accountPaymentTypeOld != null">
        ACCOUNT_PAYMENT_TYPE_OLD = #{accountPaymentTypeOld,jdbcType=DECIMAL},
      </if>
      <if test="accountPaymentType != null">
        ACCOUNT_PAYMENT_TYPE = #{accountPaymentType,jdbcType=DECIMAL},
      </if>
      <if test="entpTypeOld != null">
        ENTP_TYPE_OLD = #{entpTypeOld,jdbcType=DECIMAL},
      </if>
      <if test="entpType != null">
        ENTP_TYPE = #{entpType,jdbcType=DECIMAL},
      </if>
      <if test="marketAgrOld != null">
        MARKET_AGR_OLD = #{marketAgrOld,jdbcType=DECIMAL},
      </if>
      <if test="marketAgr != null">
        MARKET_AGR = #{marketAgr,jdbcType=DECIMAL},
      </if>
      <if test="firmCodeOld != null">
        FIRM_CODE_OLD = #{firmCodeOld,jdbcType=CHAR},
      </if>
      <if test="firmCode != null">
        FIRM_CODE = #{firmCode,jdbcType=CHAR},
      </if>
      <if test="firmShortNameOld != null">
        FIRM_SHORT_NAME_OLD = #{firmShortNameOld,jdbcType=DECIMAL},
      </if>
      <if test="firmShortName != null">
        FIRM_SHORT_NAME = #{firmShortName,jdbcType=DECIMAL},
      </if>
      <if test="joinDateOld != null">
        JOIN_DATE_OLD = #{joinDateOld,jdbcType=TIMESTAMP},
      </if>
      <if test="joinDate != null">
        JOIN_DATE = #{joinDate,jdbcType=TIMESTAMP},
      </if>
      <if test="vatInvoiceEntpTypeOld != null">
        VAT_INVOICE_ENTP_TYPE_OLD = #{vatInvoiceEntpTypeOld,jdbcType=DECIMAL},
      </if>
      <if test="vatInvoiceEntpType != null">
        VAT_INVOICE_ENTP_TYPE = #{vatInvoiceEntpType,jdbcType=DECIMAL},
      </if>
      <if test="qualFeeUrlOld != null">
        QUAL_FEE_URL_OLD = #{qualFeeUrlOld,jdbcType=VARCHAR},
      </if>
      <if test="qualFeeUrl != null">
        QUAL_FEE_URL = #{qualFeeUrl,jdbcType=VARCHAR},
      </if>
      <if test="customRegionOld != null">
        CUSTOM_REGION_OLD = #{customRegionOld,jdbcType=DECIMAL},
      </if>
      <if test="customRegion != null">
        CUSTOM_REGION = #{customRegion,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null">
        CREATEUSER = #{createuser,jdbcType=CHAR},
      </if>
      <if test=" 0 == 0">
        UPDATETIME = CURRENT_TIMESTAMP,
      </if>
      <if test="updateuser != null">
        UPDATEUSER = #{updateuser,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.footprint.common.model.DUcDealerAuditInfo">
    update D_UC_DEALER_AUDIT_INFO
    set VERID = NVL(VERID , 0) + 1
      ,AUDIT_ID = #{auditId,jdbcType=CHAR}
      ,DEALER_ID = #{dealerId,jdbcType=CHAR}
      ,FIRM_TYPE_OLD = #{firmTypeOld,jdbcType=DECIMAL}
      ,FIRM_TYPE = #{firmType,jdbcType=DECIMAL}
      ,ACCOUNT_PAYMENT_TYPE_OLD = #{accountPaymentTypeOld,jdbcType=DECIMAL}
      ,ACCOUNT_PAYMENT_TYPE = #{accountPaymentType,jdbcType=DECIMAL}
      ,ENTP_TYPE_OLD = #{entpTypeOld,jdbcType=DECIMAL}
      ,ENTP_TYPE = #{entpType,jdbcType=DECIMAL}
      ,MARKET_AGR_OLD = #{marketAgrOld,jdbcType=DECIMAL}
      ,MARKET_AGR = #{marketAgr,jdbcType=DECIMAL}
      ,FIRM_CODE_OLD = #{firmCodeOld,jdbcType=CHAR}
      ,FIRM_CODE = #{firmCode,jdbcType=CHAR}
      ,FIRM_SHORT_NAME_OLD = #{firmShortNameOld,jdbcType=DECIMAL}
      ,FIRM_SHORT_NAME = #{firmShortName,jdbcType=DECIMAL}
      ,JOIN_DATE_OLD = #{joinDateOld,jdbcType=TIMESTAMP}
      ,JOIN_DATE = #{joinDate,jdbcType=TIMESTAMP}
      ,VAT_INVOICE_ENTP_TYPE_OLD = #{vatInvoiceEntpTypeOld,jdbcType=DECIMAL}
      ,VAT_INVOICE_ENTP_TYPE = #{vatInvoiceEntpType,jdbcType=DECIMAL}
      ,QUAL_FEE_URL_OLD = #{qualFeeUrlOld,jdbcType=VARCHAR}
      ,QUAL_FEE_URL = #{qualFeeUrl,jdbcType=VARCHAR}
      ,CUSTOM_REGION_OLD = #{customRegionOld,jdbcType=DECIMAL}
      ,CUSTOM_REGION = #{customRegion,jdbcType=DECIMAL}
      ,UPDATETIME = CURRENT_TIMESTAMP
      ,UPDATEUSER = #{updateuser,jdbcType=CHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
  <cache />
  <sql id="OracleDialectPrefix">
    <if test="page != null">
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix">
    <if test="page != null">
      <![CDATA[ ) row_  where rownum <= #{page.end} ) where rownum_ > #{page.begin}  ]]>
    </if>
  </sql>
</mapper>