<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.footprint.common.dao.DUcEnterpriseMapper">
  <resultMap id="BaseResultMap" type="com.footprint.common.model.DUcEnterprise">
    <constructor>
      <idArg column="ID" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="VERID" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="ENTP_STATUS" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="FULLNAME_ENG" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="FULLNAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="SHORTNAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="FULLNAME_PINYIN" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="LP_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="LP_MBPHONE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="LP_TEL" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="LP_EMAL" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="LP_FAX" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="IDENTITY_TYPE" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="IDENTITY_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="IDENTITY_URL" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="COMP_REGFUND" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="ORG_TYPE" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="COMP_ORGN_NUM" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="COMP_TAXREGCERT" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="COMP_PROVINCE" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="COMP_CITY" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="COMP_DISTRICT" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="COMP_ADDR" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="COMP_ADDR_ENG" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="COMP_PROVINCE_COMM" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="COMP_CITY_COMM" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="COMP_DISTRICT_COMM" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="COMP_ADDR_COMM" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="COMP_POSTCODE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="COMP_TEL" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="COMP_FAX" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="COMP_MAIL" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="BUSINESS_LICENSE_URL" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="TAX_LICENSE_URL" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ORG_CODE_URL" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="MAININ_COME" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="ESTABLISHMENT_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="COMPANY_TYPE_VAR" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="MEMO" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="ENTP_LOGO_URL" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATETIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="CREATEUSER" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="UPDATETIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="UPDATEUSER" javaType="java.lang.String" jdbcType="CHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, VERID, ENTP_STATUS, FULLNAME_ENG, FULLNAME, SHORTNAME, FULLNAME_PINYIN, LP_NAME, 
    LP_MBPHONE, LP_TEL, LP_EMAL, LP_FAX, IDENTITY_TYPE, IDENTITY_ID, IDENTITY_URL, COMP_REGFUND, 
    ORG_TYPE, COMP_ORGN_NUM, COMP_TAXREGCERT, COMP_PROVINCE, COMP_CITY, COMP_DISTRICT, 
    COMP_ADDR, COMP_ADDR_ENG, COMP_PROVINCE_COMM, COMP_CITY_COMM, COMP_DISTRICT_COMM, 
    COMP_ADDR_COMM, COMP_POSTCODE, COMP_TEL, COMP_FAX, COMP_MAIL, BUSINESS_LICENSE_URL, 
    TAX_LICENSE_URL, ORG_CODE_URL, MAININ_COME, ESTABLISHMENT_DATE, COMPANY_TYPE_VAR, 
    MEMO, ENTP_LOGO_URL, CREATETIME, CREATEUSER, UPDATETIME, UPDATEUSER
  </sql>
  <select id="selectByExample" parameterType="com.footprint.common.model.DUcEnterpriseExample" resultMap="BaseResultMap">
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from D_UC_ENTERPRISE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from D_UC_ENTERPRISE
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from D_UC_ENTERPRISE
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.footprint.common.model.DUcEnterpriseExample">
    delete from D_UC_ENTERPRISE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.footprint.common.model.DUcEnterprise">
    insert into D_UC_ENTERPRISE (ID, VERID, ENTP_STATUS, FULLNAME_ENG, 
      FULLNAME, SHORTNAME, FULLNAME_PINYIN, 
      LP_NAME, LP_MBPHONE, LP_TEL, 
      LP_EMAL, LP_FAX, IDENTITY_TYPE, 
      IDENTITY_ID, IDENTITY_URL, COMP_REGFUND, 
      ORG_TYPE, COMP_ORGN_NUM, COMP_TAXREGCERT, 
      COMP_PROVINCE, COMP_CITY, COMP_DISTRICT, 
      COMP_ADDR, COMP_ADDR_ENG, COMP_PROVINCE_COMM, 
      COMP_CITY_COMM, COMP_DISTRICT_COMM, COMP_ADDR_COMM, 
      COMP_POSTCODE, COMP_TEL, COMP_FAX, 
      COMP_MAIL, BUSINESS_LICENSE_URL, TAX_LICENSE_URL, 
      ORG_CODE_URL, MAININ_COME, ESTABLISHMENT_DATE, 
      COMPANY_TYPE_VAR, MEMO, ENTP_LOGO_URL, 
      CREATETIME, CREATEUSER, UPDATETIME, UPDATEUSER
      )
    values (#{id,jdbcType=CHAR}, 0, #{entpStatus,jdbcType=DECIMAL}, #{fullnameEng,jdbcType=NVARCHAR}, 
      #{fullname,jdbcType=NVARCHAR}, #{shortname,jdbcType=NVARCHAR}, #{fullnamePinyin,jdbcType=VARCHAR}, 
      #{lpName,jdbcType=NVARCHAR}, #{lpMbphone,jdbcType=VARCHAR}, #{lpTel,jdbcType=VARCHAR}, 
      #{lpEmal,jdbcType=VARCHAR}, #{lpFax,jdbcType=VARCHAR}, #{identityType,jdbcType=DECIMAL}, 
      #{identityId,jdbcType=VARCHAR}, #{identityUrl,jdbcType=VARCHAR}, #{compRegfund,jdbcType=NVARCHAR}, 
      #{orgType,jdbcType=DECIMAL}, #{compOrgnNum,jdbcType=VARCHAR}, #{compTaxregcert,jdbcType=VARCHAR}, 
      #{compProvince,jdbcType=CHAR}, #{compCity,jdbcType=CHAR}, #{compDistrict,jdbcType=CHAR}, 
      #{compAddr,jdbcType=NVARCHAR}, #{compAddrEng,jdbcType=NVARCHAR}, #{compProvinceComm,jdbcType=CHAR}, 
      #{compCityComm,jdbcType=CHAR}, #{compDistrictComm,jdbcType=CHAR}, #{compAddrComm,jdbcType=NVARCHAR}, 
      #{compPostcode,jdbcType=VARCHAR}, #{compTel,jdbcType=VARCHAR}, #{compFax,jdbcType=VARCHAR}, 
      #{compMail,jdbcType=VARCHAR}, #{businessLicenseUrl,jdbcType=VARCHAR}, #{taxLicenseUrl,jdbcType=VARCHAR}, 
      #{orgCodeUrl,jdbcType=VARCHAR}, #{maininCome,jdbcType=NVARCHAR}, #{establishmentDate,jdbcType=TIMESTAMP}, 
      #{companyTypeVar,jdbcType=NVARCHAR}, #{memo,jdbcType=NVARCHAR}, #{entpLogoUrl,jdbcType=VARCHAR}, 
      CURRENT_TIMESTAMP, #{createuser,jdbcType=CHAR}, CURRENT_TIMESTAMP, #{updateuser,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.footprint.common.model.DUcEnterprise">
    insert into D_UC_ENTERPRISE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="verid != null">
        VERID,
      </if>
      <if test="entpStatus != null">
        ENTP_STATUS,
      </if>
      <if test="fullnameEng != null">
        FULLNAME_ENG,
      </if>
      <if test="fullname != null">
        FULLNAME,
      </if>
      <if test="shortname != null">
        SHORTNAME,
      </if>
      <if test="fullnamePinyin != null">
        FULLNAME_PINYIN,
      </if>
      <if test="lpName != null">
        LP_NAME,
      </if>
      <if test="lpMbphone != null">
        LP_MBPHONE,
      </if>
      <if test="lpTel != null">
        LP_TEL,
      </if>
      <if test="lpEmal != null">
        LP_EMAL,
      </if>
      <if test="lpFax != null">
        LP_FAX,
      </if>
      <if test="identityType != null">
        IDENTITY_TYPE,
      </if>
      <if test="identityId != null">
        IDENTITY_ID,
      </if>
      <if test="identityUrl != null">
        IDENTITY_URL,
      </if>
      <if test="compRegfund != null">
        COMP_REGFUND,
      </if>
      <if test="orgType != null">
        ORG_TYPE,
      </if>
      <if test="compOrgnNum != null">
        COMP_ORGN_NUM,
      </if>
      <if test="compTaxregcert != null">
        COMP_TAXREGCERT,
      </if>
      <if test="compProvince != null">
        COMP_PROVINCE,
      </if>
      <if test="compCity != null">
        COMP_CITY,
      </if>
      <if test="compDistrict != null">
        COMP_DISTRICT,
      </if>
      <if test="compAddr != null">
        COMP_ADDR,
      </if>
      <if test="compAddrEng != null">
        COMP_ADDR_ENG,
      </if>
      <if test="compProvinceComm != null">
        COMP_PROVINCE_COMM,
      </if>
      <if test="compCityComm != null">
        COMP_CITY_COMM,
      </if>
      <if test="compDistrictComm != null">
        COMP_DISTRICT_COMM,
      </if>
      <if test="compAddrComm != null">
        COMP_ADDR_COMM,
      </if>
      <if test="compPostcode != null">
        COMP_POSTCODE,
      </if>
      <if test="compTel != null">
        COMP_TEL,
      </if>
      <if test="compFax != null">
        COMP_FAX,
      </if>
      <if test="compMail != null">
        COMP_MAIL,
      </if>
      <if test="businessLicenseUrl != null">
        BUSINESS_LICENSE_URL,
      </if>
      <if test="taxLicenseUrl != null">
        TAX_LICENSE_URL,
      </if>
      <if test="orgCodeUrl != null">
        ORG_CODE_URL,
      </if>
      <if test="maininCome != null">
        MAININ_COME,
      </if>
      <if test="establishmentDate != null">
        ESTABLISHMENT_DATE,
      </if>
      <if test="companyTypeVar != null">
        COMPANY_TYPE_VAR,
      </if>
      <if test="memo != null">
        MEMO,
      </if>
      <if test="entpLogoUrl != null">
        ENTP_LOGO_URL,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="createuser != null">
        CREATEUSER,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
      <if test="updateuser != null">
        UPDATEUSER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="verid != null">
        #{verid,jdbcType=DECIMAL},
      </if>
      <if test="entpStatus != null">
        #{entpStatus,jdbcType=DECIMAL},
      </if>
      <if test="fullnameEng != null">
        #{fullnameEng,jdbcType=NVARCHAR},
      </if>
      <if test="fullname != null">
        #{fullname,jdbcType=NVARCHAR},
      </if>
      <if test="shortname != null">
        #{shortname,jdbcType=NVARCHAR},
      </if>
      <if test="fullnamePinyin != null">
        #{fullnamePinyin,jdbcType=VARCHAR},
      </if>
      <if test="lpName != null">
        #{lpName,jdbcType=NVARCHAR},
      </if>
      <if test="lpMbphone != null">
        #{lpMbphone,jdbcType=VARCHAR},
      </if>
      <if test="lpTel != null">
        #{lpTel,jdbcType=VARCHAR},
      </if>
      <if test="lpEmal != null">
        #{lpEmal,jdbcType=VARCHAR},
      </if>
      <if test="lpFax != null">
        #{lpFax,jdbcType=VARCHAR},
      </if>
      <if test="identityType != null">
        #{identityType,jdbcType=DECIMAL},
      </if>
      <if test="identityId != null">
        #{identityId,jdbcType=VARCHAR},
      </if>
      <if test="identityUrl != null">
        #{identityUrl,jdbcType=VARCHAR},
      </if>
      <if test="compRegfund != null">
        #{compRegfund,jdbcType=NVARCHAR},
      </if>
      <if test="orgType != null">
        #{orgType,jdbcType=DECIMAL},
      </if>
      <if test="compOrgnNum != null">
        #{compOrgnNum,jdbcType=VARCHAR},
      </if>
      <if test="compTaxregcert != null">
        #{compTaxregcert,jdbcType=VARCHAR},
      </if>
      <if test="compProvince != null">
        #{compProvince,jdbcType=CHAR},
      </if>
      <if test="compCity != null">
        #{compCity,jdbcType=CHAR},
      </if>
      <if test="compDistrict != null">
        #{compDistrict,jdbcType=CHAR},
      </if>
      <if test="compAddr != null">
        #{compAddr,jdbcType=NVARCHAR},
      </if>
      <if test="compAddrEng != null">
        #{compAddrEng,jdbcType=NVARCHAR},
      </if>
      <if test="compProvinceComm != null">
        #{compProvinceComm,jdbcType=CHAR},
      </if>
      <if test="compCityComm != null">
        #{compCityComm,jdbcType=CHAR},
      </if>
      <if test="compDistrictComm != null">
        #{compDistrictComm,jdbcType=CHAR},
      </if>
      <if test="compAddrComm != null">
        #{compAddrComm,jdbcType=NVARCHAR},
      </if>
      <if test="compPostcode != null">
        #{compPostcode,jdbcType=VARCHAR},
      </if>
      <if test="compTel != null">
        #{compTel,jdbcType=VARCHAR},
      </if>
      <if test="compFax != null">
        #{compFax,jdbcType=VARCHAR},
      </if>
      <if test="compMail != null">
        #{compMail,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseUrl != null">
        #{businessLicenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="taxLicenseUrl != null">
        #{taxLicenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="orgCodeUrl != null">
        #{orgCodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="maininCome != null">
        #{maininCome,jdbcType=NVARCHAR},
      </if>
      <if test="establishmentDate != null">
        #{establishmentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="companyTypeVar != null">
        #{companyTypeVar,jdbcType=NVARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=NVARCHAR},
      </if>
      <if test="entpLogoUrl != null">
        #{entpLogoUrl,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null">
        #{createuser,jdbcType=CHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null">
        #{updateuser,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.footprint.common.model.DUcEnterpriseExample" resultType="java.lang.Long">
    select count(*) from D_UC_ENTERPRISE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update D_UC_ENTERPRISE
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=CHAR},
      </if>
      <if test=" 0 == 0">
        VERID = NVL(VERID , 0) + 1,
      </if>
      <if test="record.entpStatus != null">
        ENTP_STATUS = #{record.entpStatus,jdbcType=DECIMAL},
      </if>
      <if test="record.fullnameEng != null">
        FULLNAME_ENG = #{record.fullnameEng,jdbcType=NVARCHAR},
      </if>
      <if test="record.fullname != null">
        FULLNAME = #{record.fullname,jdbcType=NVARCHAR},
      </if>
      <if test="record.shortname != null">
        SHORTNAME = #{record.shortname,jdbcType=NVARCHAR},
      </if>
      <if test="record.fullnamePinyin != null">
        FULLNAME_PINYIN = #{record.fullnamePinyin,jdbcType=VARCHAR},
      </if>
      <if test="record.lpName != null">
        LP_NAME = #{record.lpName,jdbcType=NVARCHAR},
      </if>
      <if test="record.lpMbphone != null">
        LP_MBPHONE = #{record.lpMbphone,jdbcType=VARCHAR},
      </if>
      <if test="record.lpTel != null">
        LP_TEL = #{record.lpTel,jdbcType=VARCHAR},
      </if>
      <if test="record.lpEmal != null">
        LP_EMAL = #{record.lpEmal,jdbcType=VARCHAR},
      </if>
      <if test="record.lpFax != null">
        LP_FAX = #{record.lpFax,jdbcType=VARCHAR},
      </if>
      <if test="record.identityType != null">
        IDENTITY_TYPE = #{record.identityType,jdbcType=DECIMAL},
      </if>
      <if test="record.identityId != null">
        IDENTITY_ID = #{record.identityId,jdbcType=VARCHAR},
      </if>
      <if test="record.identityUrl != null">
        IDENTITY_URL = #{record.identityUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.compRegfund != null">
        COMP_REGFUND = #{record.compRegfund,jdbcType=NVARCHAR},
      </if>
      <if test="record.orgType != null">
        ORG_TYPE = #{record.orgType,jdbcType=DECIMAL},
      </if>
      <if test="record.compOrgnNum != null">
        COMP_ORGN_NUM = #{record.compOrgnNum,jdbcType=VARCHAR},
      </if>
      <if test="record.compTaxregcert != null">
        COMP_TAXREGCERT = #{record.compTaxregcert,jdbcType=VARCHAR},
      </if>
      <if test="record.compProvince != null">
        COMP_PROVINCE = #{record.compProvince,jdbcType=CHAR},
      </if>
      <if test="record.compCity != null">
        COMP_CITY = #{record.compCity,jdbcType=CHAR},
      </if>
      <if test="record.compDistrict != null">
        COMP_DISTRICT = #{record.compDistrict,jdbcType=CHAR},
      </if>
      <if test="record.compAddr != null">
        COMP_ADDR = #{record.compAddr,jdbcType=NVARCHAR},
      </if>
      <if test="record.compAddrEng != null">
        COMP_ADDR_ENG = #{record.compAddrEng,jdbcType=NVARCHAR},
      </if>
      <if test="record.compProvinceComm != null">
        COMP_PROVINCE_COMM = #{record.compProvinceComm,jdbcType=CHAR},
      </if>
      <if test="record.compCityComm != null">
        COMP_CITY_COMM = #{record.compCityComm,jdbcType=CHAR},
      </if>
      <if test="record.compDistrictComm != null">
        COMP_DISTRICT_COMM = #{record.compDistrictComm,jdbcType=CHAR},
      </if>
      <if test="record.compAddrComm != null">
        COMP_ADDR_COMM = #{record.compAddrComm,jdbcType=NVARCHAR},
      </if>
      <if test="record.compPostcode != null">
        COMP_POSTCODE = #{record.compPostcode,jdbcType=VARCHAR},
      </if>
      <if test="record.compTel != null">
        COMP_TEL = #{record.compTel,jdbcType=VARCHAR},
      </if>
      <if test="record.compFax != null">
        COMP_FAX = #{record.compFax,jdbcType=VARCHAR},
      </if>
      <if test="record.compMail != null">
        COMP_MAIL = #{record.compMail,jdbcType=VARCHAR},
      </if>
      <if test="record.businessLicenseUrl != null">
        BUSINESS_LICENSE_URL = #{record.businessLicenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.taxLicenseUrl != null">
        TAX_LICENSE_URL = #{record.taxLicenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.orgCodeUrl != null">
        ORG_CODE_URL = #{record.orgCodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.maininCome != null">
        MAININ_COME = #{record.maininCome,jdbcType=NVARCHAR},
      </if>
      <if test="record.establishmentDate != null">
        ESTABLISHMENT_DATE = #{record.establishmentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.companyTypeVar != null">
        COMPANY_TYPE_VAR = #{record.companyTypeVar,jdbcType=NVARCHAR},
      </if>
      <if test="record.memo != null">
        MEMO = #{record.memo,jdbcType=NVARCHAR},
      </if>
      <if test="record.entpLogoUrl != null">
        ENTP_LOGO_URL = #{record.entpLogoUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createuser != null">
        CREATEUSER = #{record.createuser,jdbcType=CHAR},
      </if>
      <if test=" 0 == 0">
        UPDATETIME = CURRENT_TIMESTAMP,
      </if>
      <if test="record.updateuser != null">
        UPDATEUSER = #{record.updateuser,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update D_UC_ENTERPRISE
    set ID = #{record.id,jdbcType=CHAR},
    VERID = NVL(VERID , 0) + 1,
      ENTP_STATUS = #{record.entpStatus,jdbcType=DECIMAL},
      FULLNAME_ENG = #{record.fullnameEng,jdbcType=NVARCHAR},
      FULLNAME = #{record.fullname,jdbcType=NVARCHAR},
      SHORTNAME = #{record.shortname,jdbcType=NVARCHAR},
      FULLNAME_PINYIN = #{record.fullnamePinyin,jdbcType=VARCHAR},
      LP_NAME = #{record.lpName,jdbcType=NVARCHAR},
      LP_MBPHONE = #{record.lpMbphone,jdbcType=VARCHAR},
      LP_TEL = #{record.lpTel,jdbcType=VARCHAR},
      LP_EMAL = #{record.lpEmal,jdbcType=VARCHAR},
      LP_FAX = #{record.lpFax,jdbcType=VARCHAR},
      IDENTITY_TYPE = #{record.identityType,jdbcType=DECIMAL},
      IDENTITY_ID = #{record.identityId,jdbcType=VARCHAR},
      IDENTITY_URL = #{record.identityUrl,jdbcType=VARCHAR},
      COMP_REGFUND = #{record.compRegfund,jdbcType=NVARCHAR},
      ORG_TYPE = #{record.orgType,jdbcType=DECIMAL},
      COMP_ORGN_NUM = #{record.compOrgnNum,jdbcType=VARCHAR},
      COMP_TAXREGCERT = #{record.compTaxregcert,jdbcType=VARCHAR},
      COMP_PROVINCE = #{record.compProvince,jdbcType=CHAR},
      COMP_CITY = #{record.compCity,jdbcType=CHAR},
      COMP_DISTRICT = #{record.compDistrict,jdbcType=CHAR},
      COMP_ADDR = #{record.compAddr,jdbcType=NVARCHAR},
      COMP_ADDR_ENG = #{record.compAddrEng,jdbcType=NVARCHAR},
      COMP_PROVINCE_COMM = #{record.compProvinceComm,jdbcType=CHAR},
      COMP_CITY_COMM = #{record.compCityComm,jdbcType=CHAR},
      COMP_DISTRICT_COMM = #{record.compDistrictComm,jdbcType=CHAR},
      COMP_ADDR_COMM = #{record.compAddrComm,jdbcType=NVARCHAR},
      COMP_POSTCODE = #{record.compPostcode,jdbcType=VARCHAR},
      COMP_TEL = #{record.compTel,jdbcType=VARCHAR},
      COMP_FAX = #{record.compFax,jdbcType=VARCHAR},
      COMP_MAIL = #{record.compMail,jdbcType=VARCHAR},
      BUSINESS_LICENSE_URL = #{record.businessLicenseUrl,jdbcType=VARCHAR},
      TAX_LICENSE_URL = #{record.taxLicenseUrl,jdbcType=VARCHAR},
      ORG_CODE_URL = #{record.orgCodeUrl,jdbcType=VARCHAR},
      MAININ_COME = #{record.maininCome,jdbcType=NVARCHAR},
      ESTABLISHMENT_DATE = #{record.establishmentDate,jdbcType=TIMESTAMP},
      COMPANY_TYPE_VAR = #{record.companyTypeVar,jdbcType=NVARCHAR},
      MEMO = #{record.memo,jdbcType=NVARCHAR},
      ENTP_LOGO_URL = #{record.entpLogoUrl,jdbcType=VARCHAR},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      CREATEUSER = #{record.createuser,jdbcType=CHAR},
    UPDATETIME = CURRENT_TIMESTAMP,
      UPDATEUSER = #{record.updateuser,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.footprint.common.model.DUcEnterprise">
    update D_UC_ENTERPRISE
    <set>
      <if test=" 0 == 0">
        VERID = NVL(VERID , 0) + 1,
      </if>
      <if test="entpStatus != null">
        ENTP_STATUS = #{entpStatus,jdbcType=DECIMAL},
      </if>
      <if test="fullnameEng != null">
        FULLNAME_ENG = #{fullnameEng,jdbcType=NVARCHAR},
      </if>
      <if test="fullname != null">
        FULLNAME = #{fullname,jdbcType=NVARCHAR},
      </if>
      <if test="shortname != null">
        SHORTNAME = #{shortname,jdbcType=NVARCHAR},
      </if>
      <if test="fullnamePinyin != null">
        FULLNAME_PINYIN = #{fullnamePinyin,jdbcType=VARCHAR},
      </if>
      <if test="lpName != null">
        LP_NAME = #{lpName,jdbcType=NVARCHAR},
      </if>
      <if test="lpMbphone != null">
        LP_MBPHONE = #{lpMbphone,jdbcType=VARCHAR},
      </if>
      <if test="lpTel != null">
        LP_TEL = #{lpTel,jdbcType=VARCHAR},
      </if>
      <if test="lpEmal != null">
        LP_EMAL = #{lpEmal,jdbcType=VARCHAR},
      </if>
      <if test="lpFax != null">
        LP_FAX = #{lpFax,jdbcType=VARCHAR},
      </if>
      <if test="identityType != null">
        IDENTITY_TYPE = #{identityType,jdbcType=DECIMAL},
      </if>
      <if test="identityId != null">
        IDENTITY_ID = #{identityId,jdbcType=VARCHAR},
      </if>
      <if test="identityUrl != null">
        IDENTITY_URL = #{identityUrl,jdbcType=VARCHAR},
      </if>
      <if test="compRegfund != null">
        COMP_REGFUND = #{compRegfund,jdbcType=NVARCHAR},
      </if>
      <if test="orgType != null">
        ORG_TYPE = #{orgType,jdbcType=DECIMAL},
      </if>
      <if test="compOrgnNum != null">
        COMP_ORGN_NUM = #{compOrgnNum,jdbcType=VARCHAR},
      </if>
      <if test="compTaxregcert != null">
        COMP_TAXREGCERT = #{compTaxregcert,jdbcType=VARCHAR},
      </if>
      <if test="compProvince != null">
        COMP_PROVINCE = #{compProvince,jdbcType=CHAR},
      </if>
      <if test="compCity != null">
        COMP_CITY = #{compCity,jdbcType=CHAR},
      </if>
      <if test="compDistrict != null">
        COMP_DISTRICT = #{compDistrict,jdbcType=CHAR},
      </if>
      <if test="compAddr != null">
        COMP_ADDR = #{compAddr,jdbcType=NVARCHAR},
      </if>
      <if test="compAddrEng != null">
        COMP_ADDR_ENG = #{compAddrEng,jdbcType=NVARCHAR},
      </if>
      <if test="compProvinceComm != null">
        COMP_PROVINCE_COMM = #{compProvinceComm,jdbcType=CHAR},
      </if>
      <if test="compCityComm != null">
        COMP_CITY_COMM = #{compCityComm,jdbcType=CHAR},
      </if>
      <if test="compDistrictComm != null">
        COMP_DISTRICT_COMM = #{compDistrictComm,jdbcType=CHAR},
      </if>
      <if test="compAddrComm != null">
        COMP_ADDR_COMM = #{compAddrComm,jdbcType=NVARCHAR},
      </if>
      <if test="compPostcode != null">
        COMP_POSTCODE = #{compPostcode,jdbcType=VARCHAR},
      </if>
      <if test="compTel != null">
        COMP_TEL = #{compTel,jdbcType=VARCHAR},
      </if>
      <if test="compFax != null">
        COMP_FAX = #{compFax,jdbcType=VARCHAR},
      </if>
      <if test="compMail != null">
        COMP_MAIL = #{compMail,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseUrl != null">
        BUSINESS_LICENSE_URL = #{businessLicenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="taxLicenseUrl != null">
        TAX_LICENSE_URL = #{taxLicenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="orgCodeUrl != null">
        ORG_CODE_URL = #{orgCodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="maininCome != null">
        MAININ_COME = #{maininCome,jdbcType=NVARCHAR},
      </if>
      <if test="establishmentDate != null">
        ESTABLISHMENT_DATE = #{establishmentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="companyTypeVar != null">
        COMPANY_TYPE_VAR = #{companyTypeVar,jdbcType=NVARCHAR},
      </if>
      <if test="memo != null">
        MEMO = #{memo,jdbcType=NVARCHAR},
      </if>
      <if test="entpLogoUrl != null">
        ENTP_LOGO_URL = #{entpLogoUrl,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null">
        CREATEUSER = #{createuser,jdbcType=CHAR},
      </if>
      <if test=" 0 == 0">
        UPDATETIME = CURRENT_TIMESTAMP,
      </if>
      <if test="updateuser != null">
        UPDATEUSER = #{updateuser,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.footprint.common.model.DUcEnterprise">
    update D_UC_ENTERPRISE
    set VERID = NVL(VERID , 0) + 1
      ,ENTP_STATUS = #{entpStatus,jdbcType=DECIMAL}
      ,FULLNAME_ENG = #{fullnameEng,jdbcType=NVARCHAR}
      ,FULLNAME = #{fullname,jdbcType=NVARCHAR}
      ,SHORTNAME = #{shortname,jdbcType=NVARCHAR}
      ,FULLNAME_PINYIN = #{fullnamePinyin,jdbcType=VARCHAR}
      ,LP_NAME = #{lpName,jdbcType=NVARCHAR}
      ,LP_MBPHONE = #{lpMbphone,jdbcType=VARCHAR}
      ,LP_TEL = #{lpTel,jdbcType=VARCHAR}
      ,LP_EMAL = #{lpEmal,jdbcType=VARCHAR}
      ,LP_FAX = #{lpFax,jdbcType=VARCHAR}
      ,IDENTITY_TYPE = #{identityType,jdbcType=DECIMAL}
      ,IDENTITY_ID = #{identityId,jdbcType=VARCHAR}
      ,IDENTITY_URL = #{identityUrl,jdbcType=VARCHAR}
      ,COMP_REGFUND = #{compRegfund,jdbcType=NVARCHAR}
      ,ORG_TYPE = #{orgType,jdbcType=DECIMAL}
      ,COMP_ORGN_NUM = #{compOrgnNum,jdbcType=VARCHAR}
      ,COMP_TAXREGCERT = #{compTaxregcert,jdbcType=VARCHAR}
      ,COMP_PROVINCE = #{compProvince,jdbcType=CHAR}
      ,COMP_CITY = #{compCity,jdbcType=CHAR}
      ,COMP_DISTRICT = #{compDistrict,jdbcType=CHAR}
      ,COMP_ADDR = #{compAddr,jdbcType=NVARCHAR}
      ,COMP_ADDR_ENG = #{compAddrEng,jdbcType=NVARCHAR}
      ,COMP_PROVINCE_COMM = #{compProvinceComm,jdbcType=CHAR}
      ,COMP_CITY_COMM = #{compCityComm,jdbcType=CHAR}
      ,COMP_DISTRICT_COMM = #{compDistrictComm,jdbcType=CHAR}
      ,COMP_ADDR_COMM = #{compAddrComm,jdbcType=NVARCHAR}
      ,COMP_POSTCODE = #{compPostcode,jdbcType=VARCHAR}
      ,COMP_TEL = #{compTel,jdbcType=VARCHAR}
      ,COMP_FAX = #{compFax,jdbcType=VARCHAR}
      ,COMP_MAIL = #{compMail,jdbcType=VARCHAR}
      ,BUSINESS_LICENSE_URL = #{businessLicenseUrl,jdbcType=VARCHAR}
      ,TAX_LICENSE_URL = #{taxLicenseUrl,jdbcType=VARCHAR}
      ,ORG_CODE_URL = #{orgCodeUrl,jdbcType=VARCHAR}
      ,MAININ_COME = #{maininCome,jdbcType=NVARCHAR}
      ,ESTABLISHMENT_DATE = #{establishmentDate,jdbcType=TIMESTAMP}
      ,COMPANY_TYPE_VAR = #{companyTypeVar,jdbcType=NVARCHAR}
      ,MEMO = #{memo,jdbcType=NVARCHAR}
      ,ENTP_LOGO_URL = #{entpLogoUrl,jdbcType=VARCHAR}
      ,UPDATETIME = CURRENT_TIMESTAMP
      ,UPDATEUSER = #{updateuser,jdbcType=CHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
  <cache />
  <sql id="OracleDialectPrefix">
    <if test="page != null">
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix">
    <if test="page != null">
      <![CDATA[ ) row_  where rownum <= #{page.end} ) where rownum_ > #{page.begin}  ]]>
    </if>
  </sql>
</mapper>