<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.footprint.common.dao.DUcOrgRelationMapper">
  <resultMap id="BaseResultMap" type="com.footprint.common.model.DUcOrgRelation">
    <constructor>
      <idArg column="ID" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="VERID" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="ORG_ID" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="PID" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="NODE_ORDER" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="NODE_FLG" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="NODE_TYPE" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="NODE_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="NODE_DESC" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="ICON" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="MEMO" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="CREATETIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="CREATEUSER" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="UPDATETIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="UPDATEUSER" javaType="java.lang.String" jdbcType="CHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, VERID, ORG_ID, PID, NODE_ORDER, NODE_FLG, NODE_TYPE, NODE_NAME, NODE_DESC, ICON, 
    MEMO, CREATETIME, CREATEUSER, UPDATETIME, UPDATEUSER
  </sql>
  <select id="selectByExample" parameterType="com.footprint.common.model.DUcOrgRelationExample" resultMap="BaseResultMap">
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from D_UC_ORG_RELATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from D_UC_ORG_RELATION
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from D_UC_ORG_RELATION
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.footprint.common.model.DUcOrgRelationExample">
    delete from D_UC_ORG_RELATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.footprint.common.model.DUcOrgRelation">
    insert into D_UC_ORG_RELATION (ID, VERID, ORG_ID, PID, NODE_ORDER, 
      NODE_FLG, NODE_TYPE, NODE_NAME, 
      NODE_DESC, ICON, MEMO, 
      CREATETIME, CREATEUSER, UPDATETIME, UPDATEUSER
      )
    values (#{id,jdbcType=CHAR}, 0, #{orgId,jdbcType=CHAR}, #{pid,jdbcType=CHAR}, #{nodeOrder,jdbcType=DECIMAL}, 
      #{nodeFlg,jdbcType=DECIMAL}, #{nodeType,jdbcType=DECIMAL}, #{nodeName,jdbcType=NVARCHAR}, 
      #{nodeDesc,jdbcType=NVARCHAR}, #{icon,jdbcType=VARCHAR}, #{memo,jdbcType=NVARCHAR}, 
      CURRENT_TIMESTAMP, #{createuser,jdbcType=CHAR}, CURRENT_TIMESTAMP, #{updateuser,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.footprint.common.model.DUcOrgRelation">
    insert into D_UC_ORG_RELATION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="verid != null">
        VERID,
      </if>
      <if test="orgId != null">
        ORG_ID,
      </if>
      <if test="pid != null">
        PID,
      </if>
      <if test="nodeOrder != null">
        NODE_ORDER,
      </if>
      <if test="nodeFlg != null">
        NODE_FLG,
      </if>
      <if test="nodeType != null">
        NODE_TYPE,
      </if>
      <if test="nodeName != null">
        NODE_NAME,
      </if>
      <if test="nodeDesc != null">
        NODE_DESC,
      </if>
      <if test="icon != null">
        ICON,
      </if>
      <if test="memo != null">
        MEMO,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="createuser != null">
        CREATEUSER,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
      <if test="updateuser != null">
        UPDATEUSER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="verid != null">
        #{verid,jdbcType=DECIMAL},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=CHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=CHAR},
      </if>
      <if test="nodeOrder != null">
        #{nodeOrder,jdbcType=DECIMAL},
      </if>
      <if test="nodeFlg != null">
        #{nodeFlg,jdbcType=DECIMAL},
      </if>
      <if test="nodeType != null">
        #{nodeType,jdbcType=DECIMAL},
      </if>
      <if test="nodeName != null">
        #{nodeName,jdbcType=NVARCHAR},
      </if>
      <if test="nodeDesc != null">
        #{nodeDesc,jdbcType=NVARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=NVARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null">
        #{createuser,jdbcType=CHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null">
        #{updateuser,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.footprint.common.model.DUcOrgRelationExample" resultType="java.lang.Long">
    select count(*) from D_UC_ORG_RELATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update D_UC_ORG_RELATION
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=CHAR},
      </if>
      <if test=" 0 == 0">
        VERID = NVL(VERID , 0) + 1,
      </if>
      <if test="record.orgId != null">
        ORG_ID = #{record.orgId,jdbcType=CHAR},
      </if>
      <if test="record.pid != null">
        PID = #{record.pid,jdbcType=CHAR},
      </if>
      <if test="record.nodeOrder != null">
        NODE_ORDER = #{record.nodeOrder,jdbcType=DECIMAL},
      </if>
      <if test="record.nodeFlg != null">
        NODE_FLG = #{record.nodeFlg,jdbcType=DECIMAL},
      </if>
      <if test="record.nodeType != null">
        NODE_TYPE = #{record.nodeType,jdbcType=DECIMAL},
      </if>
      <if test="record.nodeName != null">
        NODE_NAME = #{record.nodeName,jdbcType=NVARCHAR},
      </if>
      <if test="record.nodeDesc != null">
        NODE_DESC = #{record.nodeDesc,jdbcType=NVARCHAR},
      </if>
      <if test="record.icon != null">
        ICON = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null">
        MEMO = #{record.memo,jdbcType=NVARCHAR},
      </if>
      <if test="record.createtime != null">
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createuser != null">
        CREATEUSER = #{record.createuser,jdbcType=CHAR},
      </if>
      <if test=" 0 == 0">
        UPDATETIME = CURRENT_TIMESTAMP,
      </if>
      <if test="record.updateuser != null">
        UPDATEUSER = #{record.updateuser,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update D_UC_ORG_RELATION
    set ID = #{record.id,jdbcType=CHAR},
    VERID = NVL(VERID , 0) + 1,
      ORG_ID = #{record.orgId,jdbcType=CHAR},
      PID = #{record.pid,jdbcType=CHAR},
      NODE_ORDER = #{record.nodeOrder,jdbcType=DECIMAL},
      NODE_FLG = #{record.nodeFlg,jdbcType=DECIMAL},
      NODE_TYPE = #{record.nodeType,jdbcType=DECIMAL},
      NODE_NAME = #{record.nodeName,jdbcType=NVARCHAR},
      NODE_DESC = #{record.nodeDesc,jdbcType=NVARCHAR},
      ICON = #{record.icon,jdbcType=VARCHAR},
      MEMO = #{record.memo,jdbcType=NVARCHAR},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      CREATEUSER = #{record.createuser,jdbcType=CHAR},
    UPDATETIME = CURRENT_TIMESTAMP,
      UPDATEUSER = #{record.updateuser,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.footprint.common.model.DUcOrgRelation">
    update D_UC_ORG_RELATION
    <set>
      <if test=" 0 == 0">
        VERID = NVL(VERID , 0) + 1,
      </if>
      <if test="orgId != null">
        ORG_ID = #{orgId,jdbcType=CHAR},
      </if>
      <if test="pid != null">
        PID = #{pid,jdbcType=CHAR},
      </if>
      <if test="nodeOrder != null">
        NODE_ORDER = #{nodeOrder,jdbcType=DECIMAL},
      </if>
      <if test="nodeFlg != null">
        NODE_FLG = #{nodeFlg,jdbcType=DECIMAL},
      </if>
      <if test="nodeType != null">
        NODE_TYPE = #{nodeType,jdbcType=DECIMAL},
      </if>
      <if test="nodeName != null">
        NODE_NAME = #{nodeName,jdbcType=NVARCHAR},
      </if>
      <if test="nodeDesc != null">
        NODE_DESC = #{nodeDesc,jdbcType=NVARCHAR},
      </if>
      <if test="icon != null">
        ICON = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        MEMO = #{memo,jdbcType=NVARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null">
        CREATEUSER = #{createuser,jdbcType=CHAR},
      </if>
      <if test=" 0 == 0">
        UPDATETIME = CURRENT_TIMESTAMP,
      </if>
      <if test="updateuser != null">
        UPDATEUSER = #{updateuser,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.footprint.common.model.DUcOrgRelation">
    update D_UC_ORG_RELATION
    set VERID = NVL(VERID , 0) + 1
      ,ORG_ID = #{orgId,jdbcType=CHAR}
      ,PID = #{pid,jdbcType=CHAR}
      ,NODE_ORDER = #{nodeOrder,jdbcType=DECIMAL}
      ,NODE_FLG = #{nodeFlg,jdbcType=DECIMAL}
      ,NODE_TYPE = #{nodeType,jdbcType=DECIMAL}
      ,NODE_NAME = #{nodeName,jdbcType=NVARCHAR}
      ,NODE_DESC = #{nodeDesc,jdbcType=NVARCHAR}
      ,ICON = #{icon,jdbcType=VARCHAR}
      ,MEMO = #{memo,jdbcType=NVARCHAR}
      ,UPDATETIME = CURRENT_TIMESTAMP
      ,UPDATEUSER = #{updateuser,jdbcType=CHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
  <cache />
  <sql id="OracleDialectPrefix">
    <if test="page != null">
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix">
    <if test="page != null">
      <![CDATA[ ) row_  where rownum <= #{page.end} ) where rownum_ > #{page.begin}  ]]>
    </if>
  </sql>
</mapper>