<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.footprint.common.dao.DUcRoleMapper">
  <resultMap id="BaseResultMap" type="com.footprint.common.model.DUcRole">
    <constructor>
      <idArg column="ID" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="VERID" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="ROLE_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="ROLE_SIGN" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ROLE_TYPE" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="ROLE_PROPERTY" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="ROLE_DESC" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="ROLE_ORDER" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="CREATETIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="CREATEUSER" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="UPDATETIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="UPDATEUSER" javaType="java.lang.String" jdbcType="CHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, VERID, ROLE_NAME, ROLE_SIGN, ROLE_TYPE, ROLE_PROPERTY, ROLE_DESC, ROLE_ORDER, 
    CREATETIME, CREATEUSER, UPDATETIME, UPDATEUSER
  </sql>
  <select id="selectByExample" parameterType="com.footprint.common.model.DUcRoleExample" resultMap="BaseResultMap">
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from D_UC_ROLE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from D_UC_ROLE
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from D_UC_ROLE
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.footprint.common.model.DUcRoleExample">
    delete from D_UC_ROLE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.footprint.common.model.DUcRole">
    insert into D_UC_ROLE (ID, VERID, ROLE_NAME, ROLE_SIGN, 
      ROLE_TYPE, ROLE_PROPERTY, ROLE_DESC, 
      ROLE_ORDER, CREATETIME, CREATEUSER, 
      UPDATETIME, UPDATEUSER)
    values (#{id,jdbcType=CHAR}, 0, #{roleName,jdbcType=NVARCHAR}, #{roleSign,jdbcType=VARCHAR}, 
      #{roleType,jdbcType=DECIMAL}, #{roleProperty,jdbcType=DECIMAL}, #{roleDesc,jdbcType=NVARCHAR}, 
      #{roleOrder,jdbcType=DECIMAL}, CURRENT_TIMESTAMP, #{createuser,jdbcType=CHAR}, 
      CURRENT_TIMESTAMP, #{updateuser,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.footprint.common.model.DUcRole">
    insert into D_UC_ROLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="verid != null">
        VERID,
      </if>
      <if test="roleName != null">
        ROLE_NAME,
      </if>
      <if test="roleSign != null">
        ROLE_SIGN,
      </if>
      <if test="roleType != null">
        ROLE_TYPE,
      </if>
      <if test="roleProperty != null">
        ROLE_PROPERTY,
      </if>
      <if test="roleDesc != null">
        ROLE_DESC,
      </if>
      <if test="roleOrder != null">
        ROLE_ORDER,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="createuser != null">
        CREATEUSER,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
      <if test="updateuser != null">
        UPDATEUSER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="verid != null">
        #{verid,jdbcType=DECIMAL},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=NVARCHAR},
      </if>
      <if test="roleSign != null">
        #{roleSign,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        #{roleType,jdbcType=DECIMAL},
      </if>
      <if test="roleProperty != null">
        #{roleProperty,jdbcType=DECIMAL},
      </if>
      <if test="roleDesc != null">
        #{roleDesc,jdbcType=NVARCHAR},
      </if>
      <if test="roleOrder != null">
        #{roleOrder,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null">
        #{createuser,jdbcType=CHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null">
        #{updateuser,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.footprint.common.model.DUcRoleExample" resultType="java.lang.Long">
    select count(*) from D_UC_ROLE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update D_UC_ROLE
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=CHAR},
      </if>
      <if test=" 0 == 0">
        VERID = NVL(VERID , 0) + 1,
      </if>
      <if test="record.roleName != null">
        ROLE_NAME = #{record.roleName,jdbcType=NVARCHAR},
      </if>
      <if test="record.roleSign != null">
        ROLE_SIGN = #{record.roleSign,jdbcType=VARCHAR},
      </if>
      <if test="record.roleType != null">
        ROLE_TYPE = #{record.roleType,jdbcType=DECIMAL},
      </if>
      <if test="record.roleProperty != null">
        ROLE_PROPERTY = #{record.roleProperty,jdbcType=DECIMAL},
      </if>
      <if test="record.roleDesc != null">
        ROLE_DESC = #{record.roleDesc,jdbcType=NVARCHAR},
      </if>
      <if test="record.roleOrder != null">
        ROLE_ORDER = #{record.roleOrder,jdbcType=DECIMAL},
      </if>
      <if test="record.createtime != null">
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createuser != null">
        CREATEUSER = #{record.createuser,jdbcType=CHAR},
      </if>
      <if test=" 0 == 0">
        UPDATETIME = CURRENT_TIMESTAMP,
      </if>
      <if test="record.updateuser != null">
        UPDATEUSER = #{record.updateuser,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update D_UC_ROLE
    set ID = #{record.id,jdbcType=CHAR},
    VERID = NVL(VERID , 0) + 1,
      ROLE_NAME = #{record.roleName,jdbcType=NVARCHAR},
      ROLE_SIGN = #{record.roleSign,jdbcType=VARCHAR},
      ROLE_TYPE = #{record.roleType,jdbcType=DECIMAL},
      ROLE_PROPERTY = #{record.roleProperty,jdbcType=DECIMAL},
      ROLE_DESC = #{record.roleDesc,jdbcType=NVARCHAR},
      ROLE_ORDER = #{record.roleOrder,jdbcType=DECIMAL},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      CREATEUSER = #{record.createuser,jdbcType=CHAR},
    UPDATETIME = CURRENT_TIMESTAMP,
      UPDATEUSER = #{record.updateuser,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.footprint.common.model.DUcRole">
    update D_UC_ROLE
    <set>
      <if test=" 0 == 0">
        VERID = NVL(VERID , 0) + 1,
      </if>
      <if test="roleName != null">
        ROLE_NAME = #{roleName,jdbcType=NVARCHAR},
      </if>
      <if test="roleSign != null">
        ROLE_SIGN = #{roleSign,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        ROLE_TYPE = #{roleType,jdbcType=DECIMAL},
      </if>
      <if test="roleProperty != null">
        ROLE_PROPERTY = #{roleProperty,jdbcType=DECIMAL},
      </if>
      <if test="roleDesc != null">
        ROLE_DESC = #{roleDesc,jdbcType=NVARCHAR},
      </if>
      <if test="roleOrder != null">
        ROLE_ORDER = #{roleOrder,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null">
        CREATEUSER = #{createuser,jdbcType=CHAR},
      </if>
      <if test=" 0 == 0">
        UPDATETIME = CURRENT_TIMESTAMP,
      </if>
      <if test="updateuser != null">
        UPDATEUSER = #{updateuser,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.footprint.common.model.DUcRole">
    update D_UC_ROLE
    set VERID = NVL(VERID , 0) + 1
      ,ROLE_NAME = #{roleName,jdbcType=NVARCHAR}
      ,ROLE_SIGN = #{roleSign,jdbcType=VARCHAR}
      ,ROLE_TYPE = #{roleType,jdbcType=DECIMAL}
      ,ROLE_PROPERTY = #{roleProperty,jdbcType=DECIMAL}
      ,ROLE_DESC = #{roleDesc,jdbcType=NVARCHAR}
      ,ROLE_ORDER = #{roleOrder,jdbcType=DECIMAL}
      ,UPDATETIME = CURRENT_TIMESTAMP
      ,UPDATEUSER = #{updateuser,jdbcType=CHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
  <cache />
  <sql id="OracleDialectPrefix">
    <if test="page != null">
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix">
    <if test="page != null">
      <![CDATA[ ) row_  where rownum <= #{page.end} ) where rownum_ > #{page.begin}  ]]>
    </if>
  </sql>
</mapper>